
body{
-webkit-font-smoothing: antialiased;
    font-family: "Lato",Lato,Arial,sans-serif; 
   font-family: 'Open Sans', sans-serif;
    background: #f1f1f1;
	color:#333;
	font-sze:14px;
	line-height:1.6
}

.navbar.navbar-fixed-top {

    background: rgba(95,175,195,0.95);
    
}

.navbar-inverse .navbar-brand{
	color:#fff;
	    font-size: 24px;
    font-weight: 300;
}
.navbar{
	    padding-top: 5px;
	    min-height:60px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato",sans-serif;
    font-weight: 300;
    
}

a,a:hover {
    color:#3498db;
    text-decoration:none;
}

h1 a,h2 a, h3 a, h4 a,h5 a,h1 a:hover,h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
	color:#333;
}
.navbar-inverse {
    background: #ffffff;
     border-bottom: 2px solid #D9E0E2;
}

.main{
	margin-top:72px;
}

.main .main-content{
	background: #FFF;
    padding-bottom: 4rem;
}

.main-content h1 {
    margin: 0 -15px 2rem;
}

.main-content h1, .main-content h2 {
    padding: 1.5rem 2rem 1.5rem 11px;
   
    margin-top:15px;
}



.main-content h2 {
    margin: 1rem -15px 2rem;
}

.row.p {
	border-bottom:1px solid #ddd;
	padding-bottom:20px;
   

}

.row.p:last-child{
	border-bottom:none
}

.row.p h2 {
    margin-bottom: 15px;
}

.h1, h1 {
    font-size: 30px;
}
.h2, h2 {
    font-size: 22px;
}

@media (min-width: 768px){
h2 {
    font-size: 25px;
}
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;

}


hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.table td, .table th {
    min-width: 100px;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}


.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
  border-left:none;
  font-size:14px;
}
.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}


.quote-card.blue-card {
  background: #0078FF;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.blue-card:before, .quote-card.blue-card:after {
  color: #5FAAFF;
}
.quote-card.green-card {
  background: #00970B;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.green-card:before, .quote-card.green-card:after {
  color:#59E063 ;
}

.quote-card.red-card {
  background: #F61E32;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.red-card:before, .quote-card.red-card:after {
  color:#F65665 ;
}

.quote-card.yellow-card {
  background: #F9A825;
  color: #222222;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.yellow-card:before, .quote-card.yellow-card:after {
  color: #FBC02D;
}



.tagcloud03 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud03 ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
}
.tagcloud03 ul li a {
	position: relative;
	display: inline-block;
	max-width: 100px;
	height: 28px;
	line-height: 28px;
	padding: 0 2.5em 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud03 li span {
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 2;
	width: 22px;
	height: 22px;
	line-height: 22px;
	background-color: #3498db;
	border-radius: 100%;
	color: #fff;
	font-size: 12px;
	text-align: center;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud03 ul li a:hover {
	background-color: #3498db;
	border: 1px solid #3498db;
	color: #fff;
}
.tagcloud03 ul li a:hover span {
	background-color: #fff;
	color: #3498db;
}

.tagcloud05{
	margin: 0 0 10px;
}
.tagcloud05 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud05 ul li {
	display: inline-block;
	margin: 0 0 .3em 1em;
	padding: 0;
}
.tagcloud05 ul li>span {
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 1em;
	background-color: #3498db;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud05 ul li>span::before {
	position: absolute;
	top: 0;
	left: -15px;
	content: '';
	width: 0;
	height: 0;
	border-color: transparent #3498db transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud05 ul li>span::after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	background-color: #fff;
	border-radius: 100%;
}
.tagcloud05 ul li span span {
	display: inline-block;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size:11px;
	
}
.tagcloud05 ul li>span:hover {
	background-color: #555;
	color: #fff;
}
.tagcloud05 ul li>span:hover::before {
	border-right-color: #555;
}

.longtext a{
	color:#3498db
}


.footer {
    margin-top: 8rem;
    background: #f5f5f5;
    padding: 10px 0;
    border-top: 1px solid #E5E5E5;
}


h4{font-size:22px;}
article{
padding: 0 10px 0 15px;
   
}
#most_words{
margin:0 auto;
  width:100%px;
  height:150px;
}

#most_positive_words,#most_negative_words{
margin:0 auto;
  width:100%px;
  height:60px;
}
.line-cloud span{
position:relative !important;
left: auto !important;
top: auto !important;
padding-right:10px !important;
}

.sidebar .block {
    overflow: hidden;
    margin-bottom: 30px;
    background: #FBFBFB;
}
.sidebar .block .block-title {
	padding: 1.5rem 2rem 1.5rem 11px;
	display:block;
    background: #4aa4ba;
    color: #FFF;
    margin: 0 0 20px 0;
  
    font-weight: 400;
    text-transform: none;
    text-align: center;
    letter-spacing: 1px;
    font-size: 22px;
}

.sidebar .block .block-content{
	padding: 0rem 10px 1.5rem 10px;
}

.block-content ul{
	padding-left:25px;
}

.rating-summary {
	display: inline;
    overflow: hidden;
    white-space: nowrap;
}
.rating-summary .label{
display:none;
}
.rating-summary .rating-result {
    width: 75px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.rating-summary .rating-result:before {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    color: #c7c7c7;
    font-family: FontAwesome;
    font-size: 16px;
    height: 16px;
    letter-spacing: 0px;
    line-height: 16px;
    content: '\f006''\f006''\f006''\f006''\f006';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}
.rating-summary .rating-result > span {
    display: block;
    overflow: hidden;
}

.rating-summary .rating-result > span:before {
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    color: #ff5501;
    font-family: FontAwesome;
    font-size: 16px;
    height: 16px;
    letter-spacing: 0px;
    line-height: 16px;
    content: '\f005''\f005''\f005''\f005''\f005';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.rating-summary .rating-result > span span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media (min-width: 992px){
.main-content.col-md-9{
	width: 72%;
	max-width:670px;
}
.sidebar{
	min-width:300px;
	padding-right:0px;
	
}
}

@media (min-width: 1200px){
.main-content.col-md-9{
	max-width:none;
}
}

@media (max-width: 767px){
.row.p{
	margin:0
}
.navbar-form.navbar-right{
	width:100% !important;
	border: none;
    box-shadow: none;
}



.main {
   
}
}
.image-view-large{
	position:relative;
	display:block;
}
.expand-icon{
	position: absolute;
    bottom: 6px;
    right: 6px;
}

h1 span{
	    color: #4aa4ba;
}

.home-post-block{
position:relative;
overflow:hidden;
padding-bottom:20px;
padding-right: 10px;
padding-left: 10px;
}

.title-container{
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
}
.title-container-bg{
 position: absolute;
 background: #333;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
.home-post-block h2{
font-size:110%;
    position: relative;
    padding: 0 12px;
    margin:12px 0;
}
.home-post-block h2 a{
color:#fff;
}
.img-link{
    background: #fff no-repeat scroll center/cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.desc{
	margin-bottom:25px;
	    font-size: 15px;
    color:#555
}

body.column-1{
	background:#fff;
	font-family: 'Open Sans', sans-serif;
}
body.column-1 .main.container{
max-width:1000px
}
 .main-content .product-main  h1,  .main-content .product-main h2 {
    padding: 0;
    margin:0;
    margin-bottom: 10px;
    font-size:22px;
    font-weight:500;
    
}
article.product-main  {line-height:1.7;
margin-top:10px;
font-size:13px;
}
.rating-summary-block{
margin:10px 0;
}
.rating-summary-block .rating{
margin-left:10px
}
.main-action-btn{
margin:20px 0
}

.main-action-btn .btn-lg{
min-width:50%;
}

.product-main .fotorama__nav-wrap{display:block;margin-top:15px;}

.product-main .img-thumbnail{border:none}

.product-tabs{
margin-top:30px;
font-size:16px;
}

.nav-tabs.product-tabs>li.active>a, .nav-tabs.product-tabs>li.active>a:focus, .nav-tabs.product-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: rgb(95,175,195);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-radius: 0;
}

.nav-tabs.product-tabs {
    border-bottom: 1px solid rgb(95,175,195);
    background-color: #f0f0f0;
}

.nav-tabs.product-tabs>li>a{
border-radius: 0;
color:#888;
}

.top .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border-radius: 0;
}